 /*Reglas generales*/

 * {
     font-family: 'Be Vietnam Pro', sans-serif;
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;

 }

 a {
     text-decoration: none;
     color: black;
 }

 span {
     color: #8B48BF;
 }

 

 /*Header*/

 header {
     display: flex;
     flex-direction: row;
     justify-content: center;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
 }


 .lista-header {
     display: flex;
     flex-direction: row;
 }

 .header-01 {
     color: black;
     display: flex;
     flex-direction: row;
     font-size: 13px;
     padding: 25px;
 }

 .header-01:hover {
     font-size: 14px;
     color: #8B48BF;
 }

 .button a {
     background-color: #8B48BF;
     border-radius: 20px;
     color: white;
     padding: 10px 30px;
     box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
 }

 .button a:hover {
     background-color: #8c02f5;
 }


 /*Main*/

 .hero {
     color: aliceblue;
     width: 100%;
     height: 40vw;
     background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)), url("../img/fondo.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .hero h2 {
     display: flex;
     justify-content: center;
     font-size: 70px;
     border: solid 5px white;
     padding: 20px;
     background-color: rgb(0, 0, 0);
     color: white;
 }

 .hero p {
     font-size: 25px;
     padding: 15px;
 }

 .bienvenido {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 80px;
 }

 .bienvenido div {
     width: 50%;
     margin: 50px;
     text-align: center;
 }

 .bienvenido div h2 {
     font-size: 35px;
 }

 .bienvenido div p {
     font-size: 20px;
 }

 .bienvenido img {
     width: 400px;
     height: 300px;
 }

 .titulosecundario {
     padding: 20px;
     display: flex;
     justify-content: center;
     color: black;

 }

 .productos div img {
     width: 300px;
     height: 300px;
 }

 .productos div div {
     padding: 20px;
 }

 .productos-contenedor {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     padding-bottom: 200px;
     padding-top: 100px;
 }

 .productos-contenedor div h3 {
     padding: 10px;
 }

 .productos-contenedor div a {
     background-color: #8B48BF;
     border-radius: 20px;
     color: white;
     padding: 10px 30px;
     box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
 }

 .productos-contenedor div a:hover {
     background-color: #8c02f5;
 }

 .grid-contenedor {
     padding: 100px 20px 100px 20px;

     color: black;
     font-size: 35px;

     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 300px 300px;

     grid-template-areas:
         "foto-01 foto-02 foto-03"
         "foto-04 foto-05 foto-06"
     ;

     gap: 10px;

 }

 .foto-01 {
     background-image: url("../img/foto-duo.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     grid-area: foto-01;
     border: solid black 2px;

 }

 .foto-02 {
     background-image: url("../img/foto-mujer.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     grid-area: foto-02;
     border: solid black 2px;

 }

 .foto-03 {
     background-image: url("../img/foto-carrer.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     grid-area: foto-03;
     border: solid black 2px;
 }

 .foto-04 {
     background-image: url("../img/foto-pareja.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     grid-area: foto-04;
     border: solid black 2px;
 }

 .foto-05 {
     background-image: url("../img/foto-05.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     grid-area: foto-05;
     border: solid black 2px;
 }

 .foto-06 {
     background-image: url("../img/foto-06.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     grid-area: foto-06;
     border: solid black 2px;
 }

 /*UNISEX*/

 .productos {
     padding-top: 50px;
 }

 .tituloSecundario {
     padding: 20px;
     display: flex;
     justify-content: center;
     color: black;

 }

 .productos .productos-contenedor img {
     width: 300px;
     height: 300px;
 }

 .productos .productos-contenedor div {
     padding: 20px;
 }

 .productos-contenedor {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     padding-bottom: 100px;
     padding-top: 50px;
 }

 .productos-contenedor div h3 {
     padding: 10px;
 }

 .productos-contenedor div a {
     background-color: #8B48BF;
     border-radius: 20px;
     color: white;
     padding: 10px 30px;
     box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
 }

 .productos-contenedor div a:hover {
     background-color: #490081;
 }

 .notificaciones {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 50px;
 }

 .seccion-noticias .notificaciones a img {
     padding: 20px;
 }


 .cartas {
     display: flex;
     justify-content: space-around;
     padding-top: 100px;
     padding-bottom: 100px;
 }

 /*nike y reebok*/

 .fondo-nike a img {
     padding-bottom: 10px;
     width: 100%;
 }

 .sesion {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
     padding-bottom: 50px;
 }

 .sesion p {
     padding-bottom: 25px;
 }

 .catalogo {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     padding: 5px;
     padding-top: 25px;
     padding-bottom: 25px;
 }

 .imagenes-catalogo {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 50px;
 }

 .imagenes-catalogo a img {
     padding: 5px;
 }


 .imagenes-catalogo-01 {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 50px;
 }

 .imagenes-catalogo-01 a img {
     width: 375px;
     height: 375px;

     padding: 5px;
 }

 .mercurio {
     display: flex;
     justify-content: center;
 }

 .productos {
     padding-top: 50px;
 }

 .tituloSecundario {
     padding: 20px;
     display: flex;
     justify-content: center;
     color: black;

 }

 .productos div img {
     width: 300px;
     height: 300px;
 }

 .productos div div {
     padding: 20px;
 }

 .productos-contenedor {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     padding-bottom: 100px;
     padding-top: 50px;
 }

 .productos-contenedor div h3 {
     padding: 10px;
 }

 .productos-contenedor div a {
     background-color: #8B48BF;
     border-radius: 20px;
     color: white;
     padding: 10px 30px;
     box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
 }

 .productos-contenedor div a:hover {
     background-color: #490081;
 }

 /*Footer-02*/

 .contenedor-foot2 {
     background-color: #1E1E26;
     height: 247px;
     display: flex;
     justify-content: space-between;
 }

 .foot-izq {
     margin-left: 170px;
 }

 .logo-foot {
     margin-top: 54px;
     margin-bottom: 78px;

 }

 .logo-foot h4 {
     color: #FFFFFF;
     font-size: 25px;
 }

 .listas {
    margin-top: 52px;
     display: flex;
     justify-content: space-around;
 }

 .listas .lista1 ul {
     padding: 0px 50px;
 }

 nav ul li a {
     color: white;
     padding: 0px 0px 7px;
     display: flex;
 }

 .foot-der {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     margin-right: 164px;
     align-items: center;
 }

 .contenedor-foot2 .foot-der form {
     display: flex;
     margin-top: 3rem;
     margin-bottom: 83px;
 }

 input {
     padding: 10px 30px;
     border-radius: 20px;
 }

 .boton-footer {
     background-color: #8B48BF;
     border-radius: 20px;
     color: white;
     padding: 10px 30px;
     box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
 }

 .boton-footer:hover {
     background-color: #8c02f5;
 }


 .foot-der p {
     color: #8C8C94;
     font-size: 12.5px;
 }


 @media (max-width: 480px) {

     header {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     header .button {
         display: none;
     }

     header .btn {
         display: none;
     }

     .hero {
         display: flex;
         flex-direction: column;
         background-image: url(../img/fondo-01.png);

         height: 80vh;
     }

     .tituloSecundario {
         display: flex;
         text-align: center;
         height: 30vh;
         width: 50vh;
     }

     .hero p {
         text-align: center;
         padding-bottom: 50px;
     }

     .hero .button {
         display: none;
     }

     .bienvenido {
         display: flex;
         flex-direction: column;

     }

     .bienvenido div {
         margin: 0;
         padding: 0;
         text-align: center;
     }

     .bienvenido p {
         display: none;
     }

     .grid-contenedor {
         padding: 100px 20px 100px 20px;

         color: black;
         font-size: 35px;

         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 300px 300px 300px;

         grid-template-areas:
             "foto-01 foto-01 foto-01"
             "foto-02 foto-02 foto-02"
             "foto-03 foto-03 foto-03"
         ;

         gap: 10px;

     }

     .foto-04 {
         display: none;
     }

     .foto-05 {
         display: none;
     }

     .foto-06 {
         display: none;
     }

     .productos-contenedor .visto-01 {
         display: none;
     }

     .productos-contenedor .visto-02 {
         display: none;
     }

     .notificaciones {
         display: flex;
         flex-direction: column;
     }

     .notis-01 {
         display: none;
     }

     .notis-02 {
         display: none;
     }

     .cartas {
         display: flex;
         flex-direction: column;
         align-items: center;
     }



     .sesion {
         text-align: center;
     }

     .imagenes-catalogo {
         display: flex;
         flex-direction: column;
     }

     .imagenes-catalogo a img {
         width: 50vh;
         height: 50vh;
     }

     .imagenes-catalogo-01 {
         display: flex;
         flex-direction: column;
     }

     .imagenes-catalogo-01 a img {
         width: 50vh;
         height: 50vh;
     }

     .imagenes-catalogo-001 {
         display: flex;
         flex-direction: column;
     }

     .imagenes-catalogo-001 a img {
         width: 50vh;
         height: 50vh;
     }

     .catalogo-01 {
         display: none;
     }

     .classic {
         display: none;
     }

     .contenedor-foot2 {
         display: flex;
         flex-direction: column;
         justify-items: center;
         text-align: center;

         height: 90vh;
         width: 100%;
     }

     .foot-izq {
         margin-left: 0;
     }

     .foot-der {

         margin-right: 0;
     }
 }